section.not-found {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section.not-found img{
    margin-bottom: 30px;
}

@media only screen and (min-width: 920px) {
    section.not-found {
        padding: 0 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}